<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/cv.css">
    <title>信息中心</title>
</head>
<body>
<div class="flex-center position-ref full-height">
    <div class="content">
        <div class="title m-b-md">来了解不一样的教师哦^_^</div>
        <div class="title m-b-md">
            <a class="link-home" href="/index/index/home">立即前往</a>
        </div>

        <div class="links">
            <a href="#"><b>关于我们</b></a>
            <a href="#"><b>新闻</b></a>
            <a href="#"><b>联系我们</b></a>
            <a href="#">GitHub</a>
        </div>
    </div>
</div>
</body>
</html>