<!DOCTYPE HTML>
<html>
<head>
    <title>用户中心</title>
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/static/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/face/fav-icon.png" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>-->
    <!--//webfonts-->
    <!-- Global CSS for the page and tiles -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- //Global CSS for the page and tiles -->
    <!---start-click-drop-down-menu----->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <!----start-dropdown--->
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        $(function() {
            $('#activator').click(function(){
                $('#box').animate({'top':'0px'},500);
            });
            $('#boxclose').click(function(){
                $('#box').animate({'top':'-700px'},500);
            });
        });
        $(document).ready(function(){
            //Hide (Collapse) the toggle containers on load
            $(".toggle_container").hide();
            //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
            $(".trigger").click(function(){
                $(this).toggleClass("active").next().slideToggle("slow");
                return false; //Prevent the browser jump to the link anchor
            });

        });
    </script>
    <!----//End-dropdown--->
    <!---//End-click-drop-down-menu----->
</head>
<body>
<!---start-wrap---->
<!---start-header---->
<div class="header">
    <div class="wrap">
        <div class="logo">
            <a href="/index/index/home"><img src="/static/img/face/logo.png" title="pinbal" /></a>
            <!--<span class="glyphicon glyphicon-asterisk"></span>今日最佳-->
        </div>
        <div class="nav-icon">
            <a href="#" class="right_bt" id="activator"><span> </span> </a>
        </div>
        <div class="box" id="box">
            <div class="box_content">
                <div class="box_content_center">
                    <div class="form_content">
                        <div class="menu_box_list">
                            <ul>
                                <li><a href="/index/index/index"><span>主页</span></a></li>
                                <li><a href="#"><span>关于我们</span></a></li>
                                <li><a href="#"><span>Works</span></a></li>
                                <li><a href="#"><span>Clients</span></a></li>
                                <li><a href="#"><span>Blog</span></a></li>
                                <li><a href="contact.html"><span>联系我们</span></a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <a class="boxclose" id="boxclose"> <span> </span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="userinfo">
            <div class="user">
                <ul>
                    <li>
                        <a href="/index/usercenter"><img src="/static/img/face/user-pic.png" title="user-name" /><span>{$_SESSION['nickname'] ? $_SESSION['nickname'] : '游客'}</span></a>
                    </li>
                    <li>
                        {if condition="!empty($_SESSION['nickname'])"}
                        <a href="/index/usercenter"><span>个人中心</span></a>
                        {else /}
                        <a href="/index/login/login"><span>登录</span></a>
                        {/if}
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
</div>
<!---//End-header---->
<div class="copyrights">Collect from <a href="#" >Lyon</a></div>
<!---start-content---->
<div class="content">
    <div class="wrap">
        <div id="main" role="main">
            <div class="col-md-6">
                <div class="follower">
                    
                </div>
            </div>
            <div class="col-md-6">
                写站内信
            </div>
        </div>
    </div>
</div>
<!---//End-content---->
<!----start-footer--->
<!----//End-footer--->
<!---//End-wrap---->
</body>
</html>